<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>NBA Database Management</title>
    <link rel="stylesheet" href="templates/yerp.css" />
  </head>
  <body>
    <h1>NBA Database Management System</h1>
    <nav>
      <ul>
        <li><a href="/players">Manage Players</a></li>
        <li><a href="/teams">Manage Teams</a></li>
        <li><a href="/seasons">Manage Seasons</a></li>
        <li><a href="/games">Manage Games</a></li>
        <li><a href="/alltimestars">Manage alltimestars</a></li>
        <li><a href="/coach">Manage coach</a></li>
        <li><a href="/records">Manage records</a></li>
        <li><a href="/plays_for">Plays_for</a></li>
      </ul>
    </nav>
  </body>
</html>
